.skip{
    position: absolute;
    left: -10000px;
    top: auto;
    height: 35px;
    overflow: hidden;
    background-color: #000000;
  }

  .skip:focus {
    position: static;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
  }

  li.active{
    border: 2px solid #FFCB05;
  }

  .content{
    display:grid;
    grid-template-columns: 33% 33% 33%;
    font-family: Montserrat, 'Times New Roman';
  }

  .content img{
    grid-column: 1 /span 3;
    width: 50%;
    padding-left: 20%;
  }

  .content p{
    font-size: 100%;
    grid-column: 1/ span 3;
    padding: 2%;
  }

  .img{
    grid-column: 1/ span 2;
    width: 10%;
  }

  h1, h2, h3{
    font-weight: bold;
    font-size: 150%;
    padding-left: 30%;
    padding-bottom: 5%;
    padding-top: 5%;
    grid-column: 1/ span 3;
    align-content: center;
  }


  figcaption{
    grid-column: 1 /span 3;
    padding-left: 20%;
    font-size: 0.5fr;
  }

  header{
    background-color: #00274C;
    color: #FFCB05;
  }

  header li, header a{
    background-color: #00274C;
    color: #FFCB05;
    display:inline;
    border-right: 1px solid #FFCB05;
    padding-right: 6px;
    padding-left: 6px;
    font-size: 110%;
    float: right;
  }

  footer{
    font-size: 0.5fr;
    padding-top: 10%;
  }

  @media all and (min-width: 850px) {
    header, body{
      grid-template-columns: 1fr 1fr 1fr;
    }

    figcaption{
      font-size: 90%;
      grid-column: 2 / span 1;
    }

    .content{
      justify-content: center;
    }

    header li:hover{
      font-weight: bold;
    }

  }
